button, .btn {
    border: $border-dark;
    border-radius: 3px;
    padding: .5rem;
    background: $color-white;
    margin-right: auto;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
        background: darken($color-white, 10);
    }
}