.notifications {
    .notification {
        width: 100%;
        justify-content: center;
        display: flex;
        padding: .5rem;
        color: $color-white;

        &.notification-error {
            background: $color-danger;
        }
        &.notification-info {
            background: $color-info;
        }

        .remove-notification {
            position: absolute;
            right: 1rem;
            cursor: pointer;
        }
    }
}