$sidebar-background: lighten(black, 10);
$sidebar-color: darken(white, 10);

.sidebar .channels {
    background: $sidebar-background;
    color: $sidebar-color;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;

    .channel {
        display: flex;
        padding: 1rem;
        border-left: 1px solid white;
        text-decoration: none;
        color: white;
        cursor: pointer;
        
        &.active, &:hover {
            background: lighten($sidebar-background, 10)
        }
        &.active {
            border-left: 4px solid white;
        }
    }
}