
.navbar {
    background: $color-black;
    color: $color-light-gray;
    width: 100%;
    height: $navbar-height;

    .navbar-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: $navbar-height;
        margin: 0 auto;

    }

    .hamburger {
        cursor: pointer;
        padding: 1rem;
        height: $navbar-height;
        display: flex;
        align-items: center;

        &:hover {
            background: lighten($color-black, 10);
            color: lighten($color-light-gray, 10);
        }
    }

    .navbar-brand {
        @include title;
        margin-left: 1rem;
    }
    .navbar-nav {
        display: flex;
        
        .navbar-item {
            @include subtitle;
            padding: $vertical-padding 1rem;
            height: $navbar-height;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: lighten($color-black, 10);
                color: lighten($color-light-gray, 10);
            }
        }
    }

    a {
        text-decoration: none;
        color: $color-light-gray;
    }
}