.notifications {
    .notification {
        width: 100%;
        justify-content: center;
        display: flex;
        padding: .5rem;
        color: white;

        &.notification-error {
            background: salmon;
        }
        &.notification-info {
            background: lighten(blue, 10);
        }

        .remove-notification {
            position: absolute;
            right: 1rem;
            cursor: pointer;
        }
    }
}