.page-login, .page-register {
    padding-top: 2rem;

    @include mobile {
        padding-top: 0;
    }

    form {
        margin: 0 auto;
        padding: 2rem;
        width: 40%;
        @include mobile {
            width: 100%;
        }
    }
}