body {
    background: black;
}

#kothman-react-chat-widget-container {
    &.done-loading {
        opacity: 1;
    }

    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    height: 100%;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
    z-index: -10000;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    iframe {
        z-index: 10000;
        max-height: 100%;
        max-width: 100%;
    }
    div {
        max-height: 100%;
        max-width: 100%;
    }
    div, iframe {
        width: 300px !important;
        height: 100% !important;
    }

    &.widget-closed, &.widget-closed div, &.widget-closed iframe {
        height: 60px !important;
        width: 60px !important;
    }
    &.widget-closed {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}