
@import 'components/reset';

@import 'components/variables';
@import 'components/utilities';

@import 'components/page-login-register';
@import 'components/page-dashboard';
@import 'components/page-settings';

@import 'components/online-users';
@import 'components/chat';
@import 'components/sidebar';
@import 'components/modal';
@import 'components/notification';
@import 'components/navbar';
@import 'components/form';
@import 'components/button';
@import 'components/loading';
@import 'components/heading';
@import 'components/dropdown';
@import 'components/grid';

// https://github.com/tobiasahlin/SpinKit
@import '~spinkit/scss/spinkit';

html, body, #app, #react-app {
    height: 100%;
    width: 100%;
    font-family: $font-family-body;
    font-size: $font-size-body;
    line-height: $line-height-body;
}

#react-app {
    display: flex;
    flex-direction: column;
}

* {
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}
