@import 'components/reset';

@import 'components/variables';
@import 'components/utilities';

@import 'components/page-login-register';
@import 'components/page-dashboard';
@import 'components/page-settings';

@import 'components/online-users';
@import 'components/chat';
@import 'components/channels';
@import 'components/modal';
@import 'components/notification';
@import 'components/navbar';
@import 'components/form';
@import 'components/button';

// https://github.com/tobiasahlin/SpinKit
@import '~spinkit/scss/spinkit';

html, body, #app, #react-app {
    height: 100%;
    width: 100%;
}

#react-app {
    display: flex;
    flex-direction: column;
}

* {
    transition: all .2s ease-in-out;
}